body {
    font-family: serif,'Noto Sans KR';
    padding-top: 80px;
    scroll-margin-top: 60px;
}

h1,
h2,
h3,
h4,
.gugi-font {
    font-family: 'sarif', cursive;
}

.nav-link:hover,
.nav-link.active {
    color: #ffc107 !important;
}

.responsive-text-70 {
  font-size: 3vw;
}

.accordion-button::after {
  background-image: none !important;
  content: '';
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>") !important;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
  transform: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/></svg>") !important;
  transform: none !important;
}

.accordion-body-link {
    display: block;
    text-decoration: none; 
    color: inherit;
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    margin: calc(var(--bs-accordion-body-padding-y) * -1) calc(var(--bs-accordion-body-padding-x) * -1);
}

.accordion-body-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.spring-card,
.summer-card,
.autumn-card,
.winter-card {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.card-hover {
    transition: background-image 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #fff;
}

.spring-card:hover {
    background-image: linear-gradient(to right, #fff, #ffb5a7);
    color: #51251c;
}

.summer-card:hover {
    background-image: linear-gradient(to right, #a1e7e7, #fff);
    color: #2b3b60;
}

.autumn-card:hover {
    background-image: linear-gradient(to right, #fff, #b08968);
    color: #322217;
}

.winter-card:hover {
    background-image: linear-gradient(to right, #557ab7, #fff);
    color: #f9fbff;
}